.iceflower_header_logo{
    margin: 2rem 0;
    font-family: 'Reenie Beanie', cursive;
}

.iceflower_header_botton{
    margin-bottom: 1.5rem
}

.iceflower_footer_logo{
    margin: 2rem 0;
    font-family: 'Reenie Beanie', cursive;
}

.iceflower_footer_botton{
    margin-top: 1.5rem
}

.mw-500 {
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NP {
   font-family: "NanumPen", cursive;
}